//fuentes
$fuente-principal: arial, helvetica, sans-serif;


//tamaños
$letra-xxl: 50px;
$letra-xl: 36px;
$letra-l: 24px;
$letra-m: 20px;
$letra-s: 16px;
$letra-xs: 12px;

//colores
$color-uno: #030d20;
$color-dos: #082255;
$color-tres: #060e22;
$color-cuatro: #00185c;
$color-cinco: #031141f3;
